<section>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 colsm-12 col-md-10 col-lg-10">

                <!--Card-->
                <mdb-card cascade="true" narrower="true">

                    <div class="view view-cascade gradient-card-header green-seven-one">
                        <h2 class="card-header-title mb-2">Groups</h2>
                    </div>

                    <mdb-card-body cascade="true">

                        <mdb-card-text>

                            <div class="container-fluid mt-3">

                                <div class="row justify-content-center">

                                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 mb-5" *ngFor="let group of groups; let i = index">
                                        <mdb-card>
                                            <mdb-card-body class="blue-seven-one white-text">

                                                <div class="row d-flex justify-content-between">
                                                    <div class="col-12">
                                                        <h4><strong>${{group.initialInvertion}}</strong></h4>
                                                    </div>
                                                    <div class="col-12">
                                                        <mdb-icon fas icon="money-bill-alt" size="2x"></mdb-icon>
                                                    </div>
                                                </div>

                                                <p>Number of people playing: {{group.totalMembers}}</p>

                                                <div class="text-center">
                                                    <button mdbBtn rounded="true" size="sm" class="green-seven-one white-text mt-2" (click)="validateMemberIsNotAlreadyRegistered(group._id)">View</button>
                                                    <button *ngIf="!userIsAdmin" mdbBtn rounded="true" size="sm" class="green-seven-one white-text mt-2" (click)="showPaymentModal(group)">Buy</button>
                                                </div>

                                            </mdb-card-body>
                                        </mdb-card>
                                    </div>

                                </div>

                            </div>


                        </mdb-card-text>

                    </mdb-card-body>
                    <!--/.Card content-->

                </mdb-card>
                <!--/.Card-->

            </div>

        </div>
    </div>

</section>

<div mdbModal #paymentModal="mdbModal" class="modal fade" id="paymentModalModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body background-footer">

                <div class="row">

                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 white">

                        <mdb-card>
                            <mdb-card-body>
                                <mdb-card-title>
                                    <h2 class="h2-responsive product-name mb-3">
                                        <strong>{{user.firstName}} {{user.lastName}}</strong>
                                    </h2>
                                </mdb-card-title>
                                <mdb-card-text>

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Product name</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td><strong> Game 7 x 1 </strong></td>
                                                <td><strong> ${{groupSelectedPayModal.initialInvertion}} </strong></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </mdb-card-text>
                            </mdb-card-body>
                          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                        </mdb-card>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h3 class="text-muted">Pay With</h3>
                            <img src="/assets/images/paypal.svg" class="rounded mx-auto d-block img-fluid" alt="paypal" style="width: 20em;">
                            <button mdbBtn type="button" color="primary" class="mt-3" rounded="true" mdbWavesEffect>Pay</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
