<section>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 colsm-12 col-md-12 col-lg-12">

                <div class="card card-cascade narrower rounded-all z-depth-3">

                    <div class="view view-cascade gradient-card-header green-seven-one">
                        <h2 class="card-header-title mb-2">Grupos</h2>
                    </div>


                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <div class="container-fluid mt-3">

                            <div class="row justify-content-center">

                                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 mb-5"
                                    *ngFor="let group of groups | async let i = index">

                                    <div class="card rounded-all">
                                        <div class="card-body blue-seven-one white-text rounded-all">

                                            <div class="row d-flex justify-content-between">
                                                <div class="col-12">
                                                    <h4><strong>${{group.initialInvertion}}</strong></h4>
                                                </div>
                                                <div class="col-12">
                                                    <mdb-icon fas icon="money-bill-wave" size="2x"></mdb-icon>
                                                </div>
                                            </div>

                                            <p>Cantidad de jugadores: {{group.totalMembers}}</p>

                                            <div class="text-center">
                                                <button mdbBtn rounded="true" size="sm"
                                                    class="green-seven-one white-text mt-2"
                                                    (click)="validateMemberIsNotAlreadyRegistered(group._id)">Visualizar</button>
                                                <button *ngIf="!userIsAdmin" mdbBtn rounded="true" size="sm"
                                                    class="green-seven-one white-text mt-2"
                                                    (click)="showPaymentModal(group)">Comprar</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<div mdbModal #paymentModal="mdbModal" class="modal fade" id="paymentModalModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content rounded-all">
            <div class="modal-body background-card">

                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-12">
                            <h2 class="h2-responsive font-weight-bold blue-dark-seven-one-text">Factura</h2>
                            <hr class="mb-4">
                        </div>

                        <div class="col-6">
                            <div class="text-left">
                                <p class="m-0 font-weight-bolder">Fecha</p>
                                <p class="m-0">09/07/2019</p>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="text-left">
                                <p class="m-0 font-weight-bolder">Nº de factura</p>
                                <p class="m-0">1</p>
                            </div>
                        </div>

                        <div class="col-6 mt-4">
                            <div class="text-left">
                                <p class="m-0 font-weight-bolder">Para</p>
                                <p class="m-0 font-weight-bold blue-dark-seven-one-text">{{user.firstName}} {{user.lastName}}</p>
                                <p class="m-0">Usuario</p>
                                <p class="m-0">username@domain.com</p>
                            </div>
                        </div>

                        <div class="col-6 mt-4">
                            <div class="text-left">
                                <p class="m-0 font-weight-bolder">De</p>
                                <p class="m-0 font-weight-bold blue-dark-seven-one-text">Seven x One</p>
                                <p class="m-0">+1 234 632 9800</p>
                                <p class="m-0">support@sevenxone.com</p>
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="font-weight-bolder">Descripción</th>
                                            <th scope="col" class="font-weight-bolder">Grupo</th>
                                            <th scope="col" class="font-weight-bolder">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Grupo de ${{groupSelectedPayModal.initialInvertion}} dolares</td>
                                            <td>${{groupSelectedPayModal.initialInvertion}}</td>
                                            <td>${{groupSelectedPayModal.initialInvertion}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="list-unstyled text-right mr-5">
                                <li class="font-weight-bold blue-dark-seven-one-text"><strong>TOTAL:</strong><span
                                        class="float-right ml-3">${{groupSelectedPayModal.initialInvertion}}</span></li>
                            </ul>
                        </div>

                        <div class="col-6 mb-2">
                            <ngx-paypal [config]="payPalConfig" class="mb-3"></ngx-paypal>
                        </div>
                            
                            <!-- <div class="col-5 mb-2">
                                    <button mdbBtn type="button" block="true" rounded="true"
                                        class="mb-3 ml-3 mr-3 blue-paypal z-depth-0" mdbWavesEffect>Créditos 7 x 1</button>
                                </div> -->

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>