<section>

  <app-game  [circleUsers]="circleUsers"
             [circleUsersPlaying]="circleUserPlaying"
             [groupSelected]="groupSelected"
             [actualUser]="userActual"
             [iterationValue]="iterationValue"
            [isUserAdmin]="isUserAdmin">
  </app-game>

</section>

<div mdbModal #modalWin="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true" [config]="{backdrop: false}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content blue-dark-seven-one rounded-all">
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 background-first wow bounceInDown"
               data-wow-delay="0.3s">
            <div class="ratio img-responsive img-circle green-seven-one"
                 style="background-image: url(https://lh3.googleusercontent.com/-UM0Tss7wgPg/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3reVCnhvENK3MJUYYUR1pvQIyQcqmA/mo/photo.jpg?sz=46);">
            </div>
          </div>
          <div class="col-12 text-center">
            <h2 class="mb-4 white-text mt-3 wow bounceInDown" data-wow-delay="0.2s">
              <strong>Congratulations!</strong>
              <br>
              {{this.authService.getUser().userName}}
            </h2>
            <h4 class="white-text mt-3 wow bounceInDown" data-wow-delay="0.1s">
              {{messageWin}}
              <!--                            You have earned in the next groups:-->
              <!--                            <br>-->
              <!--                            $1, $10, $50-->
            </h4>
          </div>
          <div class="col-12 text-center">
            <button mdbBtn rounded="true" class="green-seven-one white-text mt-2"
                    (click)="clainEvent()" mdbTooltip="Claim prize">
              <mdb-icon fas icon="trophy"></mdb-icon> Clain
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
