 <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10">

                <!--Card-->
                <mdb-card cascade="true" narrower="true">

                    <div class="view view-cascade gradient-card-header green-seven-one">
                        <h2 class="card-header-title mb-2">Game</h2>
                    </div>

                    <mdb-card-body cascade="true">

                        <mdb-card-text>

                            <div class="container-fluid">

                                <div class="row">


                                    <!-- Primer lugar -->
                                    <div *ngFor="let member of members; let i = index" [ngClass]="(i === 0) ? 'col-sm-6 col-md-4 col-lg-2' : ''">
                                        <div *ngIf="i === 0">
                                            <div class="col-12  background-blue wow bounceInRight" data-wow-delay="{{ i / 10}}s">
                                                <div class="ratio img-responsive img-circle blue-seven-one" [ngStyle]="{'background-image': 'url(' + (member.image ? member.image : 'assets/images/user.png')  + ')'}"></div>
                                                <h5 class='blue-seven-one-text mt-2 text-center'>{{i+1}}</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-8 col-lg-10">
                                        <div class="row">

                                            <div *ngFor="let member of members | slice:1; let i = index;" class="col-6 col-sm-6 col-md-6 col-lg-2 background-blue">
                                                <div class="ratio img-responsive img-circle blue-seven-one wow bounceInRight" data-wow-delay="{{ i / 10}}s" [ngStyle]="{'background-image': 'url(' + (member.image ? member.image : 'assets/images/user.png')  + ')'}"></div>
                                                <h5 class='blue-seven-one-text mt-2 text-center wow bounceInRight' data-wow-delay="{{ i / 10}}s">{{i+2}}</h5>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- <div class="col-sm-6 col-md-8 col-lg-10">
                                        <div *ngFor="let member of members; let i = index" class="col-6 col-sm-6 col-md-6 col-lg-2 mt-3   background-blue wow bounceInRight" data-wow-delay="0.4s">
                                            <div class="ratio img-responsive img-circle blue-seven-one" [ngStyle]="{'background-image': 'url(' + (member.image ? member.image : 'assets/images/user.png')  + ')'}"></div>
                                        </div>
                                    </div> -->

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5 text-center">
                                        <table class="table table-responsive-sm table-hover text-center">
                                            <thead>
                                                <tr>
                                                    <th>Position</th>
                                                    <th>Username</th>
                                                    <th>Accumulated</th>
                                                </tr>
                                            </thead>

                                            <tbody *ngIf="!isUserAdmin; else adminContent">
                                                <tr [ngClass]="[userActual._id == member.userId && userActual.role.name === 'USER' ? 'green-seven-one white-text' : '']" *ngFor="let member of members;let i = index">
                                                    <th scope="row">{{(i+1)}}</th>
                                                    <td>{{member.userName}}</td>
                                                    <td *ngIf="groupSeleccionado">$ {{ (members.length - (i)) * groupSeleccionado.initialInvertion}}</td>
                                                </tr>
                                            </tbody>

                                            <ng-template #adminContent>
                                                <tbody>
                                                    <tr *ngFor="let member of members;let i = index">
                                                        <th scope="row">{{(i+1)}}</th>
                                                        <td>{{member.userName}}</td>
                                                        <td *ngIf="groupSeleccionado">$ {{ (members.length - (i)) * groupSeleccionado.initialInvertion}}</td>
                                                    </tr>
                                                </tbody>
                                            </ng-template>

                                        </table>
                                    </div>

                                </div>

                            </div>


                        </mdb-card-text>

                    </mdb-card-body>
                    <!--/.Card content-->

                </mdb-card>
                <!--/.Card-->

            </div>

        </div>
    </div>

