<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-5">


            <div class="card card-cascade narrower rounded-all z-depth-3">

                <!-- Card image -->
                <div class="view view-cascade gradient-card-header green-seven-one">
                    <h2 class="card-header-title mb-2">Grupo
                        ${{groupSelected ? groupSelected.initialInvertion : ''}}</h2>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">

                    <div class="container-fluid mt-3">

                        <div class="row justify-content-center">

                            <!-- Primer lugar -->
                            <div *ngFor="let circleUser of circleUsers; let i = index"
                                [ngClass]="(i === 0) ? 'col-sm-8 col-md-8 col-lg-2' : ''">
                                <div *ngIf="i === 0">
                                    <div class="row justify-content-center">
                                        <div [ngClass]="[ iterationValue === 1 ? 'col-8 col-sm-8 col-md-8 col-lg-10 background-blue wow fadeInRight' : 'col-8 col-sm-8 col-md-8 col-lg-10 background-blue wow flipInX']"
                                            [attr.data-wow-delay]="delay(0)">
                                            <h5 *ngIf="circleUser.status !== 'AC'"
                                                class='blue-seven-one-text mt-2 text-center'>
                                                {{i+1}}
                                            </h5>
                                            <img *ngIf="circleUser.status === 'AC'" src="/assets/images/trophy-1.svg"
                                                class="w-25 mx-auto mb-2 d-block" alt="Trofeo" />
                                            <div class="view">
                                                <div [ngClass]="circleUser.status === 'AC' ? 'ratio img-responsive img-circle blue-seven-one' : 'ratio img-responsive img-circle gray-circle'"
                                                    [ngStyle]="{'background-image': 'url(' + (circleUser.member.image ? circleUser.member.image : (circleUser.status === 'AC') ? 'assets/images/user.png' : '')  + ')'}">
                                                </div>
                                                <div *ngIf="circleUser.isUserLogged"
                                                    class="mask flex-center rgba-black-strong"
                                                    style="border-radius: 50%;">
                                                    <p class="white-text">Yo</p>
                                                </div>
                                            </div>
                                            <p [ngClass]="[ iterationValue === 1 ? 'blue-seven-one-text mt-2 text-center wow fadeInRight' : 'blue-seven-one-text mt-2 text-center wow flipInX']"
                                                [attr.data-wow-delay]="delay(0)">{{circleUser.member.userName}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-10 col-md-10 col-lg-10">
                                <div class="row">
                                    <div *ngFor="let circleUser of circleUsers | slice:1; let i = index;"
                                        class="col-6 col-sm-6 col-md-6 col-lg-2 background-blue">

                                        <h5 [ngClass]="[ iterationValue === 1 ? 'blue-seven-one-text mt-2 text-center wow fadeInRight' : 'blue-seven-one-text mt-2 text-center wow flipInX']"
                                            [attr.data-wow-delay]="delay(i + 1)">{{i+2}}</h5>
                                        <div [ngClass]="[ iterationValue === 1 ? 'view wow fadeInRight' : 'view wow flipInX']"
                                            [attr.data-wow-delay]="delay(i + 1)">
                                            <div [ngClass]="circleUser.status === 'AC' ? 'ratio img-responsive img-circle blue-seven-one' : 'ratio img-responsive img-circle gray-circle'"
                                                class="ratio img-responsive img-circle gray-circle"
                                                [ngStyle]="{'background-image': 'url(' + (circleUser.member.image ? circleUser.member.image : (circleUser.status === 'AC') ? 'assets/images/user.png' : '')  + ')'}">
                                            </div>
                                            <div *ngIf="circleUser.isUserLogged"
                                                class="mask flex-center rgba-black-strong" style="border-radius: 50%;">
                                                <p class="white-text">Yo</p>
                                            </div>
                                        </div>
                                        <p [ngClass]="[ iterationValue === 1 ? 'blue-seven-one-text mt-2 text-center wow fadeInRight' : 'blue-seven-one-text mt-2 text-center wow flipInX']"
                                            [attr.data-wow-delay]="delay(i + 1)">{{circleUser.member.userName}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5 text-center">
                                <div class="table-responsive">
                                    <table class="table table-responsive-sm table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th>Posición</th>
                                                <th>Usuario</th>
                                                <th>Acumulado</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody *ngIf="!isUserAdmin; else adminContent">
                                            <tr *ngFor="let circleUserPlaying of circleUsersPlaying"
                                                [ngClass]="[ circleUserPlaying.isUserLogged && actualUser.role.name === 'USER' ? 'green-seven-one-table white-text' : '']">
                                                <th scope="row">{{(circleUserPlaying.position)}}</th>
                                                <td>{{circleUserPlaying.member.userName}}</td>
                                                <td *ngIf="groupSelected">$
                                                    {{ (7 - (circleUserPlaying.position)) * groupSelected.initialInvertion}}
                                                </td>
                                                <td>
                                                    <h5 *ngIf="circleUserPlaying.position === 1">
                                                        <mdb-badge color="blue">Último ganador</mdb-badge>
                                                        <img src="/assets/images/trophy.svg" class="ml-3" alt="Trofeo"
                                                            width="25" />
                                                    </h5>

                                                </td>
                                            </tr>
                                        </tbody>

                                        <ng-template #adminContent>
                                            <tbody>
                                                <tr *ngFor="let circleUserPlaying of circleUsersPlaying">
                                                    <th scope="row" class="align-middle">
                                                        {{(circleUserPlaying.position)}}</th>
                                                    <td class="align-middle">{{circleUserPlaying.member.userName}}</td>
                                                    <td *ngIf="groupSelected" class="align-middle">$
                                                        {{ (7 - (circleUserPlaying.position)) * groupSelected.initialInvertion}}
                                                    </td>
                                                    <td class="align-middle">
                                                        <h5 *ngIf="circleUserPlaying.position === 1">
                                                            <mdb-badge color="blue">Último ganador</mdb-badge>
                                                            <img src="/assets/images/trophy.svg" class="ml-3"
                                                                alt="Trofeo" width="25" />
                                                        </h5>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </ng-template>

                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
