<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 colsm-12 col-md-12 col-lg-12">

        <div class="card card-cascade narrower rounded-all z-depth-3">

          <div class="view view-cascade gradient-card-header green-seven-one">
            <h2 class="card-header-title mb-2">Grupos</h2>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade">

            <form [formGroup]="">

              <div class="container-fluid">
                
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>