<section *ngIf="isUserAdmin; else userContent">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-5" *ngFor="let group of groups">
                <div class="card card-cascade cascading-admin-card text-muted">
                    <div class="admin-up">
                        <mdb-icon class="green-seven-one fas" fas="" icon="money-bill-alt"><i class="fa-money-bill-alt primary-color fas"></i></mdb-icon>
                        <div class="data mb-3">
                            <h3><strong>$ {{group.initialInvertion}}</strong></h3>
                            <h4 class="mt-2">Total users active: {{group.totalMembers}}</h4>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-12 col-md-12 colg-lg-12 mb-5">

                <!--Card-->
                <mdb-card cascade="true" narrower="true">

                    <div class="view view-cascade gradient-card-header green-seven-one">
                        <h2 class="card-header-title mb-2">Registered Users</h2>
                    </div>

                    <mdb-card-body cascade="true">

                        <mdb-card-text>

                            <div class="container-fluid mt-3">

                                <table mdbTable mdbTableScroll scrollY="true" maxHeight="500" bordered="true">
                                    <thead>
                                        <tr>
                                            <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of users; let i = index">
                                            <th scope="row"> {{i + 1}}</th>
                                            <td>{{user.userName}}</td>
                                            <td>{{user.firstName}}</td>
                                            <td>{{user.lastName}}</td>
                                            <td>{{user.email}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>


                        </mdb-card-text>

                    </mdb-card-body>
                    <!--/.Card content-->

                </mdb-card>
                <!--/.Card-->


            </div>

            <div class="col-12 col-sm-12 col-md-12 colg-lg-12 mb-5">

                <!--Card-->
                <mdb-card cascade="true" narrower="true">

                    <div class="view view-cascade gradient-card-header green-seven-one">
                        <h2 class="card-header-title mb-2">Historical Invested</h2>
                    </div>

                    <mdb-card-body cascade="true">

                        <mdb-card-text>

                            <div class="container-fluid mt-3">

                                <table mdbTable mdbTableScroll scrollY="true" maxHeight="500" bordered="true">
                                    <thead>
                                        <tr>
                                            <th *ngFor="let head of headElementsGroupsEarning; let i = index" scope="col">{{head}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let group of groups; let i = index">
                                            <th scope="row">{{ i + 1}}</th>
                                            <td>$ {{group.initialInvertion}}</td>
                                            <td>$ {{group.totalInvested}}</td>
                                            <td>{{group.winners}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>


                        </mdb-card-text>

                    </mdb-card-body>
                    <!--/.Card content-->

                </mdb-card>
                <!--/.Card-->


            </div>

        </div>
    </div>

</section>

<ng-template #userContent>

    <div class="col-12 col-sm-12 col-md-12 colg-lg-12 mb-5">

        <app-game *ngFor="let group of groups" [members]="members" [groupSeleccionado]="groupSeleccionado" [userActual]="user" [isUserAdmin]="isUserAdmin">
        </app-game>

    </div>

</ng-template>