<section *ngIf="isUserAdmin; else userContent">
    <div class="container-fluid mt-4">
        <div class="row justify-content-center">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-5" *ngFor="let group of groupsAdmin | async">

                        <a (click)="viewGroupUsers(group._id)">
                            <div class="card card-cascade cascading-admin-card text-muted hoverable rounded-card">
                                <div class="admin-up">
                                    <mdb-icon class="green-seven-one fas" fas="" icon="money-bill-alt"><i
                                            class="fa-money-bill-alt primary-color fas"></i></mdb-icon>
                                    <div class="data mb-3">
                                        <h3><strong>$ {{group.initialInvertion}}</strong></h3>
                                        <h4 class="mt-2">Players: {{group.totalMembers}}</h4>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-5">

                <div class="card card-cascade narrower rounded-all">

                    <!-- Card image -->
                    <div class="view view-cascade gradient-card-header green-seven-one">
                        <!-- Title -->
                        <h2 class="card-header-title">Usuarios registrados</h2>

                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <div *ngIf="existsRegisteredUsers; else emptyRegisteredUsers" class="container-fluid mt-3">

                          <div class="row">
                            <div class="col-md-12 mx-auto">
                              <div class="md-form">
                                <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
                                <label for="search">Buscar</label>
                              </div>
                            </div>
                          </div>

                            <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" small="true" bordered="true" striped="true">
                                <thead>
                                    <tr>
                                      <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="users" [sortBy]="sortByElements[i]"
                                          scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
                                      </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users; let i = index">
                                        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row"> {{i + 1}}</th>
                                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >{{user.userName}}</td>
                                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >{{user.firstName}}</td>
                                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >{{user.lastName}}</td>
                                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >{{user.email}}</td>
                                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >
                                          <div class="text-center">
                                            <mdb-icon fas [icon]="user.enabled ? 'user-check' : 'user-alt-slash'"></mdb-icon> {{user.enabled ? 'Habilitado' : 'Inhabilitado'}}
                                          </div>
                                        </td>
                                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >
                                          <div class="text-center">
                                            <button mdbBtn type="button" color="success" mdbWavesEffect mdbTooltip="Habilitar usuario" (click)="enableUser(user)"><mdb-icon fas icon="user-check" class="ml-1"></mdb-icon></button>
                                            <button mdbBtn type="button" color="danger" mdbWavesEffect mdbTooltip="Inhabilitar usuario" (click)="disableUser(user)"><mdb-icon fas icon="user-alt-slash" class="ml-1"></mdb-icon></button>
                                        </div>

                                        </td>
                                    </tr>
                                </tbody>
                              <tfoot class="grey lighten-5 w-100">
                              <tr>
                                <td colspan="7">
                                  <mdb-table-pagination [ofKeyword]="keyword" [tableEl]="tableEl" paginationAlign="" [searchDataSource]="users"></mdb-table-pagination>
                                </td>
                              </tr>
                              </tfoot>
                            </table>

                        </div>

                      <ng-template #emptyRegisteredUsers>
                        <!-- No existen usuarios registrados -->
                        <app-empty-records></app-empty-records>
                      </ng-template>

                    </div>

                </div>

            </div>
        </div>
    </div>

</section>

<ng-template #userContent>

    <div class="row justify-content-center" *ngIf="showWelcomeUser">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-5">


            <div class="card card-cascade narrower rounded-all">

                <div class="view view-cascade gradient-card-header green-seven-one">
                    <h1 class="card-header-title mb-2">Bienvenidos</h1>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">

                    <div class="container-fluid mt-3">

                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h1 class="h1-responsive font-weight-bold blue-seven-one-text mb-0 text-center"
                                data-wow-delay="0.2s">¿Y tú, qué esperas para JUGAR Y GANAR?</h1>

                            <button mdbBtn rounded="true" size="lg"
                                class="green-seven-one white-text mt-3 mb-3"
                                (click)="groupsDashboard()">Jugar</button>
                            <img src="assets/images/dashboard.png" class="img-fluid"
                                data-wow-delay="0.2s" alt="dashboard user">
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-5">

        <app-game *ngFor="let group of groupsUser" [circleUsers]="group.circleUsers"
            [circleUsersPlaying]="group.circleUsersPlaying" [groupSelected]="group" [actualUser]="user"
                  [iterationValue]="iterationValue"
            [isUserAdmin]="isUserAdmin">
        </app-game>

    </div>

</ng-template>
