.card-description-sm {
    font-size: 30px;
}

.card-description-md {
    font-size: 70px;
}

.card-description-sm-button {
    font-size: 15px;
}

.carousel-indicators {
    display: none !important;
}

@media only screen and (min-width: 1233px) {
    .show-sm {
        display: none !important;
    }
}

.circle {
    bottom: 15%;
    left: calc(65% - 105px);
}

#background-circle {
    background-image: url("/assets/images/circle.svg");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1232px) {
    .show-lg {
        display: none !important;
    }
    .circle {
        left: 20%;
    }
    .c100 {
        font-size: 140px !important;
    }
}

@media only screen and (max-width: 1020px) {
    .circle {
        left: 10%;
    }
    .c100 {
        font-size: 120px !important;
    }
}

.cascading-admin-card .admin-up {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px;
}

.cascading-admin-card .admin-up mdb-icon {
    padding: 1.7rem;
    font-size: 2rem;
    color: #fff;
    text-align: left;
    margin-right: 1rem;
    border-radius: 3px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .2), 0 2px 13px 0 rgba(0, 0, 0, .19);
}

.cascading-admin-card .admin-up .data {
    float: right;
    margin-top: 2rem;
    text-align: right;
}

.w-95 {
    width: 95% !important;
}