<div mdbModal #modalError="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header green-seven-one white-text">
        <h4 class="title">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalError.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <!--Body-->
      <div class="modal-body">
        <i class="fas fa-times fa-4x animated text-danger rotateIn"></i>
        <p>{{messageBody}}</p>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a (click)="emitEventOk()" mdbBtn color="danger" class="waves-effect" mdbWavesEffect>Ok</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>