<section>
  <div class="view jarallax"
    style="background-image: url('assets/images/email.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-4 white-text text-center">
            <h1 class="h1-reponsive white-text mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s">
              <strong>7 x 1</strong></h1>
            <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
            <h3 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>
                A confirmation email has been sent</strong></h3>
            <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.5s">
              Check out the spam
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
