<!-- <div *ngFor="let history of purchaseHistoryEarned">
  {{history.quantity['$numberDecimal']}}
</div> -->
<section>

  <div class="container-fluid">

    <div class="row justify-content-center">

      <div class="col-12 colsm-12 col-md-12 col-lg-12">

        <div class="card card-cascade narrower rounded-all z-depth-3">

          <div class="view view-cascade gradient-card-header green-seven-one">
            <h2 class="card-header-title mb-2">Historial de ganancias</h2>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

            <div class="container-fluid mt-3">

              <div class="row justify-content-censeter">

                <div *ngIf="existHistoryWin; else emptyHistoryWin" class="table-responsive">
                  <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" small="true" bordered="true" striped="true">
                    <thead class="blue-seven-one white-text">

                      <tr>

                        <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="purchaseHistoryEarned" [sortBy]="sortByElements[i]"
                            scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
                        </th>

                      </tr>

                    </thead>
                    <tbody #row>

                      <tr *ngFor="let history of purchaseHistoryEarned; let i = index">
                        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row" class="border-left border-top-bottom table-text-size align-middle">
                          {{i + 1}}
                        </th>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            ${{history.groupInfo.initialInvertion}}
                          </div>
                        </td>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            ${{history.earned}}
                          </div>
                        </td>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="border-right border-top-bottom table-text-size align-middle">

                          {{history.createdAt | date:'dd-MM-yyyy'}}

                        </td>
                      </tr>
                    </tbody>
                    <tfoot class="grey lighten-5 w-100">
                    <tr>
                      <td colspan="4">
                        <mdb-table-pagination [ofKeyword]="keyword" [tableEl]="tableEl" paginationAlign="" [searchDataSource]="purchaseHistoryEarned"></mdb-table-pagination>
                      </td>
                    </tr>
                    </tfoot>
                  </table>
                </div>

                <ng-template #emptyHistoryWin>
                  <!-- Cuando no hay registro de historial de ganancias del jugador -->
                  <div class="container-fluid">
                      <div class="row justify-content-center">
                        <div class="col-12 text-center">
                          <app-empty-records></app-empty-records>
                        </div>
                      </div>
                  </div>
                </ng-template>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
