.separate { 
    border-collapse:separate; 
    border-spacing:0 15px; 
}

.border-left {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.border-right {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.border-top-bottom {
    border-top: 1px solid #dee2e6 !important;
    border-bottom: 1px solid #dee2e6 !important;
}

.top-text-color {
    color: #6D6D6D;
}

.table-text-size {
    font-size: 18px;
    font-weight: 390;
}