<section id="intro-section" class="flex-center blue-seven-one seven-one-404">

  <div class="container">

    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 text-center">
        <a [routerLink]="['/dashboard']" class="logo" title="7x1"><img src="assets/images/logo.png" alt="Logo 7x1"></a>
        <h1 class="h1"><span>4</span><span>0</span><span class="last js-last ">4</span></h1>
        <h2>Página no encontrada</h2>
        <p class="mb-5"> Wow! Esto obviamente no es una página que estabas buscando...</p>

        <button mdbBtn type="button" color="white" rounded="true" outline="true" class="mt-3" mdbWavesEffect
          [routerLink]="['/dashboard']">Regresar</button>

      </div>
    </div>

  </div>

</section>