<section id="intro-section" class="view flex-center blue-seven-one">

  <div class="container">


    <div class="card rounded-all">
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-10">

            <img src="/assets/images/404.svg" class="mx-auto d-block img-fluid" alt="404 7x1">
          </div>

          <div class="col-6">
            <div class="text-center mt-3">

              <h2 class="h1-reponsive font-up wow fadeInDown green-seven-one-text" data-wow-delay="0.3s">
                <strong>Página no encontrada</strong>
              </h2>
              <hr class="hr-light mt-3 wow fadeInDown" data-wow-delay="0.4s">
              <h5 class="font-up mb-5 wow fadeInDown  green-seven-one-text" data-wow-delay="0.4s">
                <strong>
                  Wow! Esto obviamente no es una página que estabas buscando.</strong>
              </h5>
              <a class="btn wow fadeInDown blue-seven-one white-text" data-wow-delay="0.4s"
                [routerLink]="['/dashboard']">Regresar</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</section>