<div mdbModal #modalSuccess="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header success-color white-text">
        <h4 class="title">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="eventOK()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fas fa-check fa-4x text-success animated rotateIn"></i>
        <p>{{messageBody}}</p>
      </div>

      <div class="modal-footer justify-content-center">
        <a (click)="eventOK()" mdbBtn color="success" class="waves-effect" mdbWavesEffect>Ok</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>