.view {
  min-height: 100vh !important;
}

@media (max-width: 740px) {
  .view {
    height: 100vh;
  }
}

.hr-light {
  border-top: 3px solid #42d583;
  width: 80px;
}

.btn-seven-one {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  cursor: pointer;
}

.outline-seven-one {
  border-color: #42d583;
  color: #42d583;
}

// Logo fullScreen
.seven-one .logo {
  display: inline-block;
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  top: 0;
}

.seven-one .logo:hover {
  top: -10px;
}
