.blue-seven-one {
  background-color: #448aff !important;
}

.green-seven-one {
  background-color: #5fa146 !important;
}

.bg-form-login {
  background: linear-gradient(0deg, rgba(68, 138, 255, 0.6), rgba(68, 138, 255, 0.9));
}

.blue-seven-one-text {
  color: #448aff !important;
}

.green-seven-one-text {
  color: #5fa146 !important;
}

.h-90 {
  height: 90% !important;
}