.blue-seven-one {
  background-color: #397ef5 !important;
}

.blue-dark-seven-one {
  background-color: #3b7aed !important;
}

.green-seven-one {
  background-color: #42d583 !important;
}

.bg-form-login {
  background: linear-gradient(0deg, rgba(57, 126, 245, 0.8), rgba(57, 126, 245, 0.8));
}

.blue-seven-one-text {
  color: #448aff !important;
}

.green-seven-one-text {
  color: #5fa146 !important;
}

.h-90 {
  height: 90% !important;
}

#pattern {
  background-image: url("/assets/images/exagon-pattern.png");
}

.p-a {
  padding: 10% !important;
}

.p-a-r {
  padding-left : 10% !important;
  padding-right : 10% !important;
}

.wrap {
  display: flex;
}

/*Custom Scrollbar*/
.scrollbar {
  margin-left: 3%;
  float: left;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 25px;
  }
  
  .scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4; }

  /*** Colores de labels en inputs ***/
.md-form input[type="text"]:focus:not([readonly]),
.md-form input[type="password"]:focus:not([readonly]),
.md-form input[type="number"]:focus:not([readonly]),
.md-form input[type="email"]:focus:not([readonly]),
.md-form input[type="search"]:focus:not([readonly]),
.md-form textarea[type="text"]:focus:not([readonly]),
.md-form textarea[type="password"]:focus:not([readonly]),
.md-form textarea[type="number"]:focus:not([readonly]),
.md-form textarea[type="email"]:focus:not([readonly]),
.md-form textarea[type="search"]:focus:not([readonly]) {
  border-bottom: 0.2px solid rgba(59, 122, 237, 0.8) !important;
  box-shadow: 0 1px 0 0 rgba(59, 122, 237, 0.8) !important;
}
.md-form input[type="text"]:focus:not([readonly]) + label,
.md-form input[type="password"]:focus:not([readonly]) + label,
.md-form input[type="number"]:focus:not([readonly]) + label,
.md-form input[type="email"]:focus:not([readonly]) + label,
.md-form input[type="search"]:focus:not([readonly]) + label,
.md-form textarea[type="text"]:focus:not([readonly]) + label,
.md-form textarea[type="password"]:focus:not([readonly]) + label,
.md-form textarea[type="number"]:focus:not([readonly]) + label,
.md-form textarea[type="email"]:focus:not([readonly]) + label,
.md-form textarea[type="search"]:focus:not([readonly]) + label {
  color: rgba(59, 122, 237, 0.8) !important;
}

/*** Colores inputs 2.0 ***/
.md-form.md-outline input[type="text"]:focus:not([readonly]),
.md-form.md-outline input[type="password"]:focus:not([readonly]),
.md-form.md-outline input[type="number"]:focus:not([readonly]),
.md-form.md-outline input[type="email"]:focus:not([readonly]),
.md-form.md-outline input[type="search"]:focus:not([readonly]),
.md-form.md-outline textarea[type="text"]:focus:not([readonly]),
.md-form.md-outline textarea[type="password"]:focus:not([readonly]),
.md-form.md-outline textarea[type="number"]:focus:not([readonly]),
.md-form.md-outline textarea[type="email"]:focus:not([readonly]),
.md-form.md-outline textarea[type="search"]:focus:not([readonly]) {
  border-bottom: 0.2px solid rgba(59, 122, 237, 0.8) !important;
  border-top: 1px solid rgba(59, 122, 237, 0.8) !important;
  border-right: 1px solid rgba(59, 122, 237, 0.8) !important;
  border-left: 1px solid rgba(59, 122, 237, 0.8) !important;
  box-shadow: 0 1px 0 0 rgba(59, 122, 237, 0.8) !important;
}