<div class="view seven-one">
  <div class="mask blue-seven-one d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-7">
          <div class="card rounded-all z-depth-3">
            <div class="card-body background-card">

              <a [routerLink]="['/dashboard']" class="logo mb-3" title="7x1">
                <img src="assets/images/logo.png" class="w-25 mx-auto d-block wow fadeInDown" alt="Logo 7x1"
                  data-wow-delay="0.3s">
              </a>

              <h2 class="gray-heading mb-3 wow fadeInDown text-center" data-wow-delay="0.4s">
                Cambio de contraseña
              </h2>

              <form [formGroup]="formChangePassword" class="wow fadeInDown" data-wow-delay="0.3s">

                <div class="row justify-content-center">

                  <div class="col-10">
                    
                    <div class="md-form md-outline">
                      <mdb-icon fas icon="lock"></mdb-icon>
                      <input type="password" class="form-control" mdbInput mdbValidate id="newPassword" #newPassword formControlName="password">
                      <label for="newPassword">Nueva Contraseña</label>
                      <app-show-errors [control]="formChangePassword.controls['password']">
                      </app-show-errors>

                      <a (click)="showPassword('newPassword')">
                        <mdb-icon fas icon="eye" class="field-icon" id="eye-open-1"></mdb-icon>
                        <mdb-icon fas icon="eye-slash" class="field-icon display-none" id="eye-linked-1"></mdb-icon>
                      </a>

                    </div>

                    <p>
                      <span class="font-weight-bold">Seguridad de contraseña:</span>
                      <br>
                      <span class="font-weight-normal">
                        Utiliza 5 caracteres como mínimo. No utilices una contraseña de otro sitio ni un término que sea
                        demasiado obvio, como el nombre de tu mascota.
                      </span>
                    </p>
                  </div>

                  <div class="col-10">
                    <div class="md-form md-outline">
                      <mdb-icon fas icon="lock"></mdb-icon>
                      <input type="password" class="form-control" mdbInput mdbValidate id="confirmPassword" #confirmPassword formControlName="confirmPassword">
                      <label for="confirmPassword">Confirmar Contraseña</label>
                      <div
                        *ngIf="formChangePassword.controls['confirmPassword'].hasError('noPasswordMatch')">
                        <span class="error-message" style="left: 2.5rem;">Contraseñas no coinciden!</span>
                      </div>

                      <a (click)="showPassword('confirmPassword')">
                        <mdb-icon fas icon="eye" class="field-icon" id="eye-open-2"></mdb-icon>
                        <mdb-icon fas icon="eye-slash" class="field-icon display-none" id="eye-linked-2"></mdb-icon>
                      </a>

                    </div>
                  </div>

                </div>

                <div class="text-center mt-3">
                  <button [disabled]="formChangePassword.invalid" (click)="updatePassword()" mdbBtn type="button" class="btn-seven-one outline-seven-one wow fadeInDown btn-rounded"
                    data-wow-delay="0.4s" mdbWavesEffect>Actualizar</button>
                </div>

              </form>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
