<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 colsm-12 col-md-12 col-lg-12">

        <div class="card card-cascade narrower rounded-all z-depth-3">

          <div class="view view-cascade gradient-card-header green-seven-one">
            <h2 class="card-header-title mb-2">Facturas</h2>
          </div>


          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

            <div class="container-fluid mt-3">

              <div class="row justify-content-center">

                <div class="table-responsive">
                  <table class="table separate table-borderless table-hover">
                    <thead class="blue-seven-one white-text">

                      <tr>
                        <th scope="col" class="border-left table-text-size">#</th>
                        <th scope="col" class="table-text-size">Nombres</th>
                        <th scope="col" class="table-text-size">Grupo</th>
                        <th scope="col" class="table-text-size">Fecha</th>
                        <th scope="col" class="table-text-size">Hora</th>
                        <th scope="col" class="border-right table-text-size">Método de pago</th>
                      </tr>

                    </thead>
                    <tbody>

                      <tr>
                        <th scope="row" class="border-left border-top-bottom table-text-size align-middle">
                          1
                        </th>
                        <td class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            Moises Trigueros
                          </div>
                        </td>
                        <td class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            $ 20
                          </div>
                        </td>
                        <td class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            09/07/2019
                          </div>
                        </td>
                        <td class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            08:30 PM
                          </div>
                        </td>
                        <td class="border-right border-top-bottom table-text-size align-middle">
                          Paypal
                        </td>
                      </tr>

                      <tr>
                        <th scope="row" class="border-left border-top-bottom table-text-size align-middle">
                          2
                        </th>
                        <td class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            Jake Zeledon
                          </div>
                        </td>
                        <td class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            $ 20
                          </div>
                        </td>
                        <td class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            09/07/2019
                          </div>
                        </td>
                        <td class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            08:30 PM
                          </div>
                        </td>
                        <td class="border-right border-top-bottom table-text-size align-middle">
                          Paypal
                        </td>
                      </tr>

                      <tr>
                        <th scope="row" class="border-left border-top-bottom table-text-size align-middle">
                          3
                        </th>
                        <td class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            Genaro Tinoco
                          </div>
                        </td>
                        <td class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            $ 20
                          </div>
                        </td>
                        <td class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            09/07/2019
                          </div>
                        </td>
                        <td class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            08:30 PM
                          </div>
                        </td>
                        <td class="border-right border-top-bottom table-text-size align-middle">
                          Paypal
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>


              </div>

            </div>


          </div>

        </div>
      </div>
    </div>
  </div>

</section>