
<section>

  <div class="container-fluid">

    <div class="row justify-content-center">

      <div class="col-12 colsm-12 col-md-12 col-lg-12">

        <div class="card card-cascade narrower rounded-all z-depth-3">

          <div class="view view-cascade gradient-card-header green-seven-one">
            <h2 class="card-header-title mb-2">Facturas</h2>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

            <div class="container-fluid mt-3">

              <div class="row justify-content-center">

                <div class="table-responsive">

                  <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" small="true" bordered="true" striped="true">
                    <thead class="blue-seven-one white-text">

                      <tr>
                        <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="purchaseHistoryInvested" [sortBy]="sortByElements[i]"
                            scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
                        </th>
                      </tr>

                    </thead>
                    <tbody>

                      <tr *ngFor="let purchaseHistory of purchaseHistoryInvested; let i = index">
                        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"  scope="row" class="border-left border-top-bottom table-text-size align-middle">
                          {{i + 1}}
                        </th>
<!--                        <td class="border-top-bottom">-->
<!--                          <div class="table-text-size mx-auto">-->
<!--                            {{this.user.userName}}-->
<!--                          </div>-->
<!--                        </td>-->
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"  class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            ${{purchaseHistory.invested}}
                          </div>
                        </td>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"  class="border-top-bottom">
                          <div class="table-text-size mx-auto">
                            {{purchaseHistory.createdAt | date:'dd-MM-yyyy'}}
                          </div>
                        </td>
<!--                        <td class="border-top-bottom">-->
<!--                          <div class="table-text-size mx-auto">-->
<!--                            08:30 PM-->
<!--                          </div>-->
<!--                        </td>-->
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"  class="border-right border-top-bottom table-text-size align-middle">
                          Paypal
                        </td>
                      </tr>

                    </tbody>
                    <tfoot class="grey lighten-5 w-100">
                    <tr>
                      <td colspan="4">
                        <mdb-table-pagination [ofKeyword]="keyword" [tableEl]="tableEl" paginationAlign="" [searchDataSource]="purchaseHistoryInvested"></mdb-table-pagination>
                      </td>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
