<section>
    <div class="edge-header blue-seven-one"></div>

    <div class="container free-bird">
        <div class="row">
            <div class="col-md-8 col-lg-7 mx-auto float-none white z-depth-1 py-2 px-2" id="pattern">

                <div class="card-body">
                    <h2 class="h2-responsive"><strong>Complete the Registration</strong></h2>

                    <form [formGroup]="" id="payment-form">

                        <div class="dpf-card-placeholder"></div>

                        <div class="container">

                            <div class="dpf-input-row">
                                <label class="dpf-input-label">Credit Card Number</label>
                                <div class="dpf-input-container with-icon">
                                    <span class="dpf-input-icon"><i class="fa fa-credit-card mt-1"
                                            aria-hidden="true"></i></span>
                                    <input type="text" class="dpf-input" size="20" data-type="number">
                                </div>
                            </div>

                            <div class="dpf-input-row">

                                <div class="dpf-input-column">

                                    <input type="hidden" size="2" data-type="exp_month" placeholder="MM">

                                    <input type="hidden" size="2" data-type="exp_year" placeholder="YY">

                                    <label class="dpf-input-label">Expiration Date</label>
                                    <div class="dpf-input-container">
                                        <input type="text" class="dpf-input" data-type="expiry">
                                    </div>
                                </div>

                                <div class="dpf-input-column">
                                    <label class="dpf-input-label">Code</label>
                                    <div class="dpf-input-container">
                                        <input type="text" class="dpf-input" size="4" data-type="cvc">
                                    </div>
                                </div>
                            </div>

                            <div class="dpf-input-row">
                                <label class="dpf-input-label">Full Name</label>
                                <div class="dpf-input-container">
                                    <input type="text" size="4" class="dpf-input" data-type="name">
                                </div>
                            </div>

                            <div class="text-center">
                                <button mdbBtn rounded="true" class="green-seven-one white-text mt-2"
                                    type="submit">Complete</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</section>