<div class="view seven-one">
  <div class="mask blue-seven-one d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-7 text-center">

          <div class="card rounded-all z-depth-3" *ngIf="verified">
            <div class="card-body background-card">

              <a [routerLink]="['/dashboard']" class="logo" title="7x1">
                <img src="assets/images/logo.png" class="w-25 mx-auto d-block wow fadeInDown" alt="Logo 7x1"
                  data-wow-delay="0.3s">
              </a>

              <img src="assets/images/email.svg" class="mt-4 rounded mx-auto d-block wow fadeInDown" alt="Email confirm"
                style="width:28%;" data-wow-delay="0.3s">

              <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
              <h2 class="mb-4 green-dark-seven-one-text wow fadeInDown" data-wow-delay="0.4s">
                <strong><span i18n="@@congratulation">Felicitaciones!</span></strong>
                <br>
                {{username}}
              </h2>

              <h4 class="gray-heading mb-4 wow fadeInDown" data-wow-delay="0.4s" i18n="@@emailSuccesFull">Tú correo ha
                sido registrado exitosamente!
                <br>
                Para completar el proceso, inicia sesión.</h4>
              <button mdbBtn type="button" class="btn-seven-one outline-seven-one wow fadeInDown btn-rounded"
                data-wow-delay="0.4s" (click)="login()" mdbWavesEffect>Iniciar sesión</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>