<div class="view">
  <div class="mask blue-seven-one d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-7 text-center">

          <div class="card z-depth-5" *ngIf="verified">
            <div class="card-body">
              <img src="assets/images/email.svg" class="rounded mx-auto d-block wow fadeInDown" alt="Email confirm"
                style="width:30%;" data-wow-delay="0.3s">
              <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
              <h3 class="mb-4 green-dark-seven-one-text wow fadeInDown" data-wow-delay="0.4s" i18n="@@congratulation">
                <strong>Congratulations!</strong>
                <br>
                {{username}}
              </h3>

              <h4 class="gray-heading mb-4 wow fadeInDown" data-wow-delay="0.4s" i18="@@emailRegistradoOk">Your email has been successfully
                registered.
                <br>
                To complete the process please log in.</h4>
              <button mdbBtn type="button" class="btn-seven-one outline-seven-one wow fadeInDown btn-rounded" data-wow-delay="0.4s"
                (click)="login()" mdbWavesEffect>Login</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
