<div class="view blue-gradient">

  <div class="row h-100 justify-content-center align-items-center">

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
      <img src="assets/images/logo.svg" class="rounded mx-auto logo">
    </div>

    <div class="col-11 col-sm-10 col-md-10 col-lg-5 col-xl-5">

      <mdb-card cascade="true" narrower="true">

        <div class="view view-cascade  gradient-card-header green-seven-one"
          style="background-image: url('assets/images/intro-bg.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
          <h2 class="card-header-title">Login</h2>
        </div>

        <mdb-card-body cascade="true"
          style="background-image: url('assets/images/intro-bg.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

          <div class="container-fluid">

            <form [formGroup]="userForm" (ngSubmit)="login()" class="col-md-12 mt-1">

              <!-- Username -->
              <div class="md-form md-outline form-lg">
                <i class="fas fa-user prefix"></i>
                <input type="text" id="user" class="form-control form-control-lg" name="user" autocomplete="off"
                  formControlName="user" mdbInput>
                <label for="user">User</label>
                <show-errors [control]="userForm.controls['user']"></show-errors>
              </div>

              <!-- Password -->
              <div class="md-form md-outline form-lg">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="password" class="form-control form-control-lg" name="user" autocomplete="off"
                  formControlName="password" mdbInput>
                <label for="password">Password</label>
                <show-errors [control]="userForm.controls['password']"></show-errors>
              </div>

              <div class="mt-3">
                <!-- Sign in button -->
                <button mdbBtn rounded="true" block="true" class="green-seven-one white-text input-center mt-2"
                  type="submit" [disabled]="userForm.invalid || disabledButton">Sign
                  in</button>
              </div>

              <div class="text-center mt-5">
                <!-- Forgot password -->
                <a (click)="forgotPassword()" class="green-seven-one-text">Forgot password?</a>

                <div class="or mt-3">
                  <hr class="bar">
                  <span>OR</span>
                  <hr class="bar">
                </div>

                <button mdbBtn type="button" class="btn-seven-one outline-seven-one" mdbWavesEffect
                  (click)="createUser()">Create
                  an account</button>

              </div>

            </form>
          </div>

        </mdb-card-body>
      </mdb-card>


    </div>

  </div>

</div>