<section class="view white">

    <div class="row wrap">

        <div class="col-lg-6 col-md-7 d-flex flex-column justify-content-center align-items-center background-white-space"
            style="height: 100vh; overflow: auto;">

            <div class="container-fluid">

                <div class="row justify-content-center">

                    <div class="col-md-12 text-center mb-4">
                        <img src="/assets/images/logo.png" class="rounded mx-auto d-block img-fluid" alt="logo"
                            style="width: 20em;">
                    </div>

                    <div class="col-10 col-md-9 col-lg-9">

                        <div class="card rounded-all z-depth-3">
                            <div class="card-body">

                                <h1 class="display-4 text-center font-weight-bold">Iniciar sesión</h1>

                                <div class="col-12 text-center mb-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <a type="button" mdbBtn floating="true" size="lg" class="btn-fb waves-light"
                                                mdbTooltip="Facebook" placement="left"
                                                (click)="socialSignIn('facebook')" mdbWavesEffect><i
                                                    class="fab fa-facebook-f"></i></a>
                                            <a type="button" mdbBtn floating="true" size="lg"
                                                class=" btn-gplus waves-light" mdbTooltip="Gmail" placement="right"
                                                (click)="socialSignIn('google')" mdbWavesEffect><i
                                                    class="fab fa-google"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <form [formGroup]="userForm" (ngSubmit)="login()" class="col-md-12">

                                    <div class="text-center mt-1">
                                        <h6>o usa tu cuenta</h6>
                                    </div>

                                    <!-- Username -->
                                    <div class="md-form md-outline">
                                        <mdb-icon fas icon="user"></mdb-icon>
                                        <input type="text" id="user" class="form-control" name="user" autocomplete="off"
                                            formControlName="user" mdbInput>
                                        <label for="user">Usuario o correo</label>
                                        <app-show-errors [control]="userForm.controls['user']"></app-show-errors>
                                    </div>

                                    <!-- Password -->
                                    <div class="md-form md-outline">
                                        <mdb-icon fas icon="lock"></mdb-icon>
                                        <input type="password" id="password" class="form-control" name="user"
                                            autocomplete="off" formControlName="password" mdbInput>
                                        <label for="password">Contraseña</label>
                                        <app-show-errors [control]="userForm.controls['password']"></app-show-errors>
                                    </div>

                                    <div class="mt-2">

                                        <div class="row justify-content-center">

                                            <div class="col-12 col-sm-12 col-lg-12 col-xl-12 text-center mt-1">
                                                <!--                                                <a (click)="forgotPassword.show()"-->
                                                <a (click)="forgotPassword.show()" class="green-seven-one-text">
                                                    <h5>¿Se te olvidó tu contraseña?</h5>
                                                </a>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="mt-2 text-center">
                                        <!-- Sign in button -->
                                        <button mdbBtn rounded="true" class="green-seven-one white-text mt-2"
                                            type="submit"
                                            [disabled]="userForm.invalid || disabledButton">Ingresar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-lg-6 col-md-5 blue-seven-one rounded d-flex flex-column justify-content-center align-items-center white-text background-blue-space"
            id="bg-hide">
            <h1 class="display-4 text-center font-weight-bold">Hola amigo!</h1>
            <h3 class="mt-2 text-center">Introduzca sus datos personales y comience a jugar y ganar con nosotros.</h3>
            <button mdbBtn type="button" color="white" rounded="true" outline="true" class="mt-3" mdbWavesEffect
                (click)="createUser()">Crear cuenta</button>
        </div>

    </div>
</section>


<div id="myNav" class="overlay">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <div class="overlay-content">
        <a (click)="createUser()">Crear cuenta</a>
    </div>
</div>

<div class="fixed-action-btn d-sm-block d-md-none" style="bottom: 45px; right: 24px;" mdbTooltip="Crear una cuenta"
    placement="left">
    <a class="btn-floating btn-large blue-seven-one waves-light" mdbWavesEffect (click)="openNav()">
        <i class="fas fa-bars"></i>
    </a>
</div>

<div mdbModal #forgotPassword="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-all">
            <div class="modal-body background-card">
                
                <button type="button" class="close close-seven-one-right red-seven-one white-text hoverable" aria-label="Close" (click)="forgotPassword.hide()">
                    <span aria-hidden="true">×</span>
                </button>

                <img src="assets/images/logo.png" class="w-25 mx-auto d-block mb-2" alt="Logo 7x1">

                <div class="text-center">

                    <h2 class="mt-2 font-weight-bold blue-seven-one-text">
                        ¿Se te olvidó tu contraseña?
                    </h2>
                    <span class="font-weight-bolder">
                        Puede restablecer su contraseña aquí.
                    </span>
                </div>
                <form [formGroup]="formRecoverPassword" (ngSubmit)="recoverPassword()">

                    <div class="md-form md-outline">
                        <mdb-icon fas icon="envelope"></mdb-icon>
                        <input type="text" id="emailPasswordForgot" class="form-control" mdbInput formControlName="email">
                        <label for="emailPasswordForgot">Correo Electrónico</label>
                      <app-show-errors [control]="formRecoverPassword.controls['email']"></app-show-errors>
                    </div>

                  <div class="text-center">
                    <button [disabled]="formRecoverPassword.invalid" type="submit" rounded="true" mdbBtn class="relative waves-light green-seven-one white-text"
                            mdbWavesEffect>Restablecer la contraseña</button>
                  </div>

                </form>
            </div>
        </div>
    </div>
</div>
