<div mdbModal #modalAddGroup="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-all">
      <div class="modal-body background-card">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddGroup.hide()">
          <span aria-hidden="true">×</span>
        </button>

        <div class="text-center">
          <h2 class="mt-2 font-weight-bold green-seven-one-text">Agregar grupo</h2>
        </div>

        <form [formGroup]="formAddGroup" (ngSubmit)="createGroup()">

          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="md-form md-outline">
                  <mdb-icon fas icon="money-bill-wave"></mdb-icon>
                  <input onlyPositiveNumber type="text" id="amount" class="form-control" formControlName="initialInvertion"
                    autocomplete="off" mdbInput>
                  <label for="amount">Monto</label>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center">
            <button type="submit" rounded="true" mdbBtn color="primary" class="relative waves-light"
                    mdbWavesEffect [disabled]="formAddGroup.invalid || this.disableButton">Agregar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<app-modal-success (okEvent)="okEventSuccess($event)"></app-modal-success>
