.view {
    min-height: 100vh !important;
}

@media (max-width: 740px) {
  .view {
    height: 100vh;
  }
}

.btn-seven-one {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  cursor: pointer;
}

.outline-seven-one {
  border-color: #42d583;
  color: #42d583;
}