<div mdbModal #modalChangePassword="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-all">
      <div class="modal-body background-card">

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalChangePassword.hide()">
          <span aria-hidden="true">×</span>
        </button>

        <div class="container-fluid mt-3">

          <img src="assets/images/logo.png" class="w-25 mx-auto d-block mb-2" alt="Logo 7x1">

          <div class="text-center">
            <h2 class="mt-2 font-weight-bold green-seven-one-text">Cambiar contraseña</h2>
          </div>

          <mdb-stepper #stepper [linear]="true">

            <mdb-step name="Actual" [stepForm]="firstFormGroup" class="step1">
              <form [formGroup]="firstFormGroup">

                <p>
                  <span class="font-weight-bolder">
                    Para continuar, primero debes verificar que eres tú
                  </span>
                </p>

                <div class="md-form md-outline">
                  <input type="password" class="form-control" mdbInput mdbValidate formControlName="checkPassword"
                    id="checkPassword">
                  <label for="checkPassword">Contraseña Actual</label>
                  <app-show-errors [control]="firstFormGroup.controls['checkPassword']">
                  </app-show-errors>

                  <a (click)="showPassword('checkPassword')">
                    <mdb-icon fas icon="eye" class="field-icon" id="eye-open"></mdb-icon>
                    <mdb-icon fas icon="eye-slash" class="field-icon display-none" id="eye-linked"></mdb-icon>
                  </a>
                  <p *ngIf="checkingPassword" class="mt-2 font-weight-bold green-seven-one-text">Verificando contraseña...</p>
                </div>


              </form>
              <div
                class="row justify-content-sm-start justify-content-md-start justify-content-lg-end justify-content-xl-end">
                <div class="col-4">
                  <button mdbBtn size="sm" rounded="true" class="green-seven-one white-text" (click)="stepUpdatePassword()" [disabled]="checkingPassword">
                    Continuar
                  </button>
                </div>
              </div>

            </mdb-step>

            <mdb-step name="Nueva contraseña" [stepForm]="secondFormGroup" class="step2">
              <form [formGroup]="secondFormGroup">

                <div class="row">

                  <div class="col-12">
                    <div class="md-form md-outline">
                      <input type="password" class="form-control" mdbInput mdbValidate autocomplete="password" formControlName="password"
                        id="password">
                      <label for="password">Nueva Contraseña</label>
                      <app-show-errors [control]="secondFormGroup.controls['password']">
                      </app-show-errors>

                      <a (click)="showPassword('password')">
                        <mdb-icon fas icon="eye" class="field-icon" id="eye-open"></mdb-icon>
                        <mdb-icon fas icon="eye-slash" class="field-icon display-none" id="eye-linked"></mdb-icon>
                      </a>

                    </div>
                    <p>
                      <span class="font-weight-bold">Seguridad de contraseña:</span>
                      <br>
                      <span class="font-weight-bolder">
                        Utiliza 5 caracteres como mínimo. No utilices una contraseña de otro sitio ni un término que sea demasiado obvio, como el nombre de tu mascota.
                      </span>
                    </p>
                  </div>

                  <div class="col-12">
                    <div class="md-form md-outline">
                      <input type="password" class="form-control" mdbInput mdbValidate autocomplete="password" formControlName="confirmPassword"
                        id="confirmPassword">
                      <label for="confirmPassword">Confirmar Contraseña</label>
                      <div
                        *ngIf="secondFormGroup.controls['confirmPassword'].hasError('noPasswordMatch')">
                        <span class="error-message" style="left: 2.5rem;">Contraseñas no coinciden!</span>
                      </div>

                      <a (click)="showPassword('confirmPassword')">
                        <mdb-icon fas icon="eye" class="field-icon" id="eye-open"></mdb-icon>
                        <mdb-icon fas icon="eye-slash" class="field-icon display-none" id="eye-linked"></mdb-icon>
                      </a>

                    </div>
                  </div>

                </div>

              </form>

              <div
                class="row justify-content-sm-start justify-content-md-start justify-content-lg-end justify-content-xl-end">
                <div class="col-4">
                  <button mdbBtn size="sm" rounded="true" color="red" (click)="stepper.previous()">
                    Regresar
                  </button>
                </div>
                <div class="col-4">
                  <button mdbBtn size="sm" rounded="true" class="green-seven-one white-text" [disabled] = "!secondFormGroup.valid || updatingPassword" (click)="onSubmit()">
                    Cambiar
                  </button>
                </div>
              </div>

            </mdb-step>
          </mdb-stepper>
        </div>

      </div>
    </div>
  </div>
</div>
