<div mdbModal #modalInfo="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header info-color white-text">
        <h4 class="title">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="emitEventOk()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-info fa-4x animated text-info rotateIn mb-2"></i>
          <p>{{messageBody}}</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="emitEventOk()">Ok</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>