<div class="row justify-content-center">

    <div class="col-8">
        <img src="/assets/images/trophy.svg" class="w-18 mx-auto d-block" alt="Trofeo">
    </div>

    <div class="col-12">

        <h3 class="green-seven-one-text font-weight-bold text-center mb-4 mt-2">
            Ranking de jugadores
        </h3>

        <div class="row justify-content-center mt-3">

            <!-- Primer lugar -->
            <div *ngFor="let winner of winners3" class="col-10 col-sm-10 col-md-10 col-lg-3 mb-4">

                <div class="green-dark-seven-one top-padding rounded-all">

                    <img src="{{winner.trophyImageSrc}}" class="top-img-1" alt="">

                    <div class="avatar mx-auto flex-center">
                        <img src="{{winner.image | imageUser}}" alt="avatar mx-auto"
                            class="rounded-circle img-fluid blue-dark-seven-one">
                    </div>

                    <a>
                        <h4 class="text-center white-text mt-2 text-top">
                            {{winner.userName}}
                        </h4>
                    </a>

                    <ng-template [ngIf]="renderMount" [ngIfElse]="renderConcurrent">
                        <p class="white-text mt-2 text-center">
                            $ {{winner.totalWon['$numberDecimal']}}
                        </p>
                    </ng-template>

                    <ng-template #renderConcurrent>
                        <p class="white-text mt-2 text-center">
                            <mdb-icon fas icon="award"></mdb-icon>
                            {{winner.wonTimes}}
                        </p>
                    </ng-template>

                </div>

            </div>

        </div>
    </div>

    <!-- Siguiente posiciones -->
    <div class="col-lg-9 mt-2">

        <div class="table-responsive">
            <table class="table separate table-borderless table-striped table-hover">
                <thead class="blue-seven-one white-text">

                    <tr>
                        <th scope="col" class="border-left table-text-size">#</th>
                        <th scope="col" class="table-text-size">
                            <mdb-icon fas icon="user-alt" class="mr-1"></mdb-icon>
                            Usuario
                        </th>
                        <th scope="col" class="border-right table-text-size text-center">
                            {{title}}
                        </th>
                    </tr>

                </thead>
                <tbody>

                    <tr *ngFor="let winner of winners7; let i = index">
                        <th scope="row"
                            class="border-left border-top-bottom top-text-color table-text-size align-middle">
                            {{i + 4}}
                        </th>
                        <td class="border-top-bottom">
                            <div class="avatar-table mx-auto table-text-size top-text-color">
                                <img src="{{winner.image | imageUser}}" alt="avatar mx-auto"
                                    class="rounded-circle img-fluid mr-3 green-dark-seven-one">

                                {{winner.userName}}
                            </div>
                        </td>

                        <ng-template [ngIf]="renderMount" [ngIfElse]="renderConcurrent">
                            <td
                                class="border-right border-top-bottom table-text-size top-text-color align-middle text-center">
                                $ {{winner.totalWon['$numberDecimal']}}</td>
                        </ng-template>

                        <ng-template #renderConcurrent>
                            <td
                                class="border-right border-top-bottom table-text-size top-text-color align-middle text-center">
                                <mdb-icon fas icon="award"></mdb-icon>
                                {{winner.wonTimes}}
                            </td>
                        </ng-template>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>