@import "~ng-pick-datetime/assets/style/picker.min.scss";

.file-preview {
  span {
    width: auto;
    height: 100%;
    .file-preview-img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.step-title {
    pointer-events: none !important; /**<-----------*/
  }
