<section>

    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue-seven-one" [containerInside]="false"
        id="top-section">
        <mdb-navbar-brand>
            <a class="navbar-brand">
                <img src="assets/images/logo.svg" height="30" alt="" (click)="dashBoard()">
            </a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav ml-auto text-center">

                <li *ngIf="!isUserAdmin" class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" (click)="groupsUser.show()">
                        <mdb-icon fas icon="money-bill-alt"></mdb-icon>
                        Grupos individuales
                    </a>
                </li>

                <li *ngIf="!isUserAdmin" class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
                        <span class="badge red">3</span>
                        <mdb-icon fas icon="bell"></mdb-icon>
                        <span class="d-none d-md-inline-block"> Notificaciones</span>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-effect waves-light">
                            <i class="far fa-money-bill-alt mr-2" aria-hidden="true"></i>
                            <span>Has ganado en el grupo de 10$</span>
                            <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 13 min</span>
                        </a>
                        <a class="dropdown-item waves-effect waves-light" href="#">
                            <i class="far fa-money-bill-alt mr-2" aria-hidden="true"></i>
                            <span>Has ganado en el grupo de 20$</span>
                            <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 33 min</span>
                        </a>
                        <a class="dropdown-item waves-effect waves-light" href="#">
                            <i class="fas fa-chart-line mr-2" aria-hidden="true"></i>
                            <span>Has ganado en el grupo de 100$</span>
                            <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 53 min</span>
                        </a>
                    </div>
                </li>


                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                        mdbWavesEffect>
                        <mdb-icon fas icon="user"></mdb-icon> Perfil <span class="caret"></span>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary text-center"
                        role="menu">
                        <a class="dropdown-item" (click)="updateProfile()">Editar perfil</a>
                        <a *ngIf="user.provider === 'none'" class="dropdown-item"
                            (click)="showModalUpdateImage()">Cambiar imagen de perfil</a>
                        <a class="dropdown-item" (click)="mdlLogout.show()">Cerrar sesión</a>
                    </div>
                </li>



            </ul>
        </links>
    </mdb-navbar>

    <ngx-spinner bdOpacity=0.9 bdColor="rgba(255,255,255,1)" size="large" color="#047dff" type="square-jelly-box"
        [fullScreen]="false">
        <h5 class="green-seven-one-text h5-responsive"> Cargando... </h5>
    </ngx-spinner>

    <div class="edge-header bg-header">
        <div class="container-fluid">
            <div class="row justify-content-end">

                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center white-text">
                    <div class="row justify-content-center">

                        <div class="col-12 mb-3 mt-3">
                            <div id="background-circle" class="p-3 size-img">
                                <img [src]="this.user.image | imageUserSrc: 'user' | async"
                                    appDefaultImg="assets/images/main-user.png"
                                    class="img-fluid rounded-circle green-dark-seven-one" alt="Profile image">
                            </div>
                            <h4 class='text-capitalize mt-2'>
                                {{user.userName}}
                            </h4>
                            <h6 class='text-lowercase'>
                                {{user.email}}
                            </h6>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-5 col-xl-4 text-center">
                            <mdb-icon fas icon="arrow-alt-circle-up mr-2"></mdb-icon>
                            Ganancias
                            <div class="mt-1">
                                $ {{this.totalEarned}}
                            </div>
                        </div>
                        <div *ngIf="!isUserAdmin" class="col-xs-12 col-sm-3 col-md-2 col-lg-5 col-xl-4 v-divider">
                            <mdb-icon fas icon="arrow-alt-circle-down mr-2"></mdb-icon>
                            Inversión
                            <div class="mt-1">
                                $ {{this.totalInvested}}
                            </div>
                        </div>

                        <div *ngIf="isUserAdmin" class="col-12 col-sm-12 col-md-11 col-lg-12 col-xl-10 mt-2 mb-n4">

                            <div class="card rounded-all text-muted">

                                <!-- Card Data -->
                                <div class="row mt-3">

                                    <div class="col-md-5 col-5 text-left pl-4">

                                        <a type="button"
                                            class="btn-floating btn-lg blue-seven-one ml-4 waves-effect waves-light"><i
                                                class="fas fa-user" aria-hidden="true"></i></a>

                                    </div>

                                    <div class="col-md-7 col-7 text-right pr-5">

                                        <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{this.usersOnline}}</h5>
                                        <p class="font-small">Usuarios conectados</p>

                                    </div>

                                </div>
                                <!-- Card Data -->

                                <!-- Card content -->
                                <div class="row my-3">

                                    <div class="col-md-7 col-7 text-left pl-4">
                                        <p class="font-small font-up ml-4 font-weight-bold">Usuarios
                                            registrados</p>
                                    </div>

                                    <div class="col-md-5 col-5 text-right pr-5">
                                        <p class="font-small">{{this.registeredUsers}}</p>
                                    </div>

                                </div>
                                <!-- Card content -->

                            </div>
                        </div>

                        <!-- Botones menu cuando las pantallas son tamanio Medium >=992px -->

                        <div class="container-fluid d-lg-none d-xl-none">
                            <div class="col-12 mt-5 text-menu scroll-auto">
                                <div class="row flex-row flex-nowrap btn-dashboard mb-2">

                                    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-4 flex-center p-2">
                                        <a [routerLink]="['/dashboard']" [routerLinkActive]="['active-menu-dashboard']"
                                            class="hover-menu d-flex flex-column justify-content-center align-items-center hoverable text-menu pl-1 pr-1"
                                            mdbWavesEffect>
                                            <mdb-icon fas icon="home" size="2x"></mdb-icon>
                                            <div class="font-weight-bolder text-wrap">
                                                Dashboard
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-4 flex-center p-2">
                                        <a [routerLink]="['/groups']" [routerLinkActive]="['active-menu-dashboard']"
                                            class="hover-menu d-flex flex-column justify-content-center align-items-center hoverable text-menu pl-1 pr-1"
                                            mdbWavesEffect>
                                            <mdb-icon fas icon="money-bill-wave" size="2x"></mdb-icon>
                                            <div class="font-weight-bolder text-wrap">
                                                Grupos
                                            </div>
                                        </a>
                                    </div>

                                    <div *ngIf="isUserAdmin"
                                        class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-4 flex-center p-2">
                                        <a class="hover-menu d-flex flex-column justify-content-center align-items-center hoverable text-menu pl-1 pr-1"
                                            mdbWavesEffect (click)="addGroup()">
                                            <mdb-icon fas icon="edit" size="2x"></mdb-icon>
                                            <div class="font-weight-bolder text-wrap">
                                                Agregar grupo
                                            </div>
                                        </a>
                                    </div>

                                    <div *ngIf="isUserAdmin"
                                        class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-4 flex-center p-2">
                                        <a class="hover-menu d-flex flex-column justify-content-center align-items-center hoverable text-menu pl-1 pr-1"
                                            mdbWavesEffect (click)="addAdmin()">
                                            <mdb-icon fas icon="users-cog" size="2x"></mdb-icon>
                                            <div class="font-weight-bolder text-wrap">
                                                Agregar administrador
                                            </div>
                                        </a>
                                    </div>

                                    <div *ngIf="!isUserAdmin"
                                        class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-4 flex-center p-2">
                                        <a [routerLink]="['/invoices']" [routerLinkActive]="['active-menu-dashboard']"
                                            class="hover-menu d-flex flex-column justify-content-center align-items-center hoverable text-menu pl-1 pr-1"
                                            mdbWavesEffect>
                                            <mdb-icon fas icon="file-invoice-dollar" size="2x"></mdb-icon>
                                            <div class="font-weight-bolder text-wrap">
                                                Facturas
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-4 flex-center p-2">
                                        <a [routerLink]="['/global-winners']"
                                            [routerLinkActive]="['active-menu-dashboard']"
                                            class="hover-menu d-flex flex-column justify-content-center align-items-center hoverable text-menu pl-1 pr-1 pl-1 pr-1"
                                            mdbWavesEffect>
                                            <mdb-icon fas icon="trophy" size="2x"></mdb-icon>
                                            <div class="font-weight-bolder text-wrap">
                                                Ranking global
                                            </div>
                                        </a>
                                    </div>

                                    <div *ngIf="!isUserAdmin"
                                        class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-4 flex-center p-2 pr-3">
                                        <a [routerLink]="['/win-history']"
                                            [routerLinkActive]="['active-menu-dashboard']"
                                            class="hover-menu d-flex flex-column justify-content-center align-items-center hoverable text-menu pl-1 pr-1"
                                            mdbWavesEffect>
                                            <div class="p-3">
                                                <mdb-icon fas icon="hand-holding-usd" size="2x"></mdb-icon>
                                                <div class="font-weight-bolder text-wrap">
                                                    Historial Ganancias
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Botones menu cuando las pantallas son tamanio Large >=1200px -->
                        <div class="d-none d-lg-block d-xl-block">
                            <div class="row">
                                <div class="col-12 mt-5 text-menu">
                                    <div class="row justify-content-center btn-dashboard">

                                        <div class="col-sm-3 col-md-2 col-lg-6 col-xl-4 flex-center">
                                            <a [routerLink]="['/dashboard']"
                                                [routerLinkActive]="['active-menu-dashboard']"
                                                class="hover-menu d-flex flex-column justify-content-center align-items-center hoverable text-menu pl-1 pr-1"
                                                mdbWavesEffect>
                                                <mdb-icon fas icon="home" size="2x"></mdb-icon>
                                                <div class="font-weight-bolder text-wrap">
                                                    Dashboard
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3 col-md-2 col-lg-6 col-xl-4 flex-center">
                                            <a [routerLink]="['/groups']" [routerLinkActive]="['active-menu-dashboard']"
                                                class="hover-menu d-flex flex-column justify-content-center align-items-center hoverable text-menu pl-1 pr-1"
                                                mdbWavesEffect>
                                                <mdb-icon fas icon="money-bill-wave" size="2x"></mdb-icon>
                                                <div class="font-weight-bolder text-wrap">
                                                    Grupos
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <div *ngIf="isUserAdmin" class="col-12 text-menu mt-2">
                                    <div class="row justify-content-center btn-dashboard">

                                        <div class="col-sm-3 col-md-2 col-lg-6 col-xl-4 flex-center">
                                            <a class="hover-menu d-flex flex-column justify-content-center align-items-center hoverable text-menu pl-1 pr-1"
                                                mdbWavesEffect (click)="addGroup()">
                                                <mdb-icon fas icon="edit" size="2x"></mdb-icon>
                                                <div class="font-weight-bolder text-wrap">
                                                    Agregar grupo
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-sm-3 col-md-2 col-lg-6 col-xl-4 flex-center">
                                            <a class="hover-menu d-flex flex-column justify-content-center align-items-center hoverable text-menu pl-1 pr-1"
                                                mdbWavesEffect (click)="addAdmin()">
                                                <mdb-icon fas icon="users-cog" size="2x"></mdb-icon>
                                                <div class="font-weight-bolder text-wrap">
                                                    Agregar administrador
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-12 text-menu mt-2">
                                    <div class="row justify-content-center btn-dashboard">


                                        <div *ngIf="!isUserAdmin"
                                            class="col-sm-3 col-md-2 col-lg-6 col-xl-4 flex-center">
                                            <a [routerLink]="['/invoices']"
                                                [routerLinkActive]="['active-menu-dashboard']"
                                                class="hover-menu d-flex flex-column justify-content-center align-items-center hoverable text-menu pl-1 pr-1"
                                                mdbWavesEffect>
                                                <mdb-icon fas icon="file-invoice-dollar" size="2x"></mdb-icon>
                                                <div class="font-weight-bolder text-wrap">
                                                    Facturas
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-sm-3 col-md-2 col-lg-6 col-xl-4 flex-center">
                                            <a [routerLink]="['/global-winners']"
                                                [routerLinkActive]="['active-menu-dashboard']"
                                                class="hover-menu d-flex flex-column justify-content-center align-items-center hoverable text-menu pl-1 pr-1 pl-1 pr-1"
                                                mdbWavesEffect>
                                                <mdb-icon fas icon="trophy" size="2x"></mdb-icon>
                                                <div class="font-weight-bolder text-wrap">
                                                    Ranking global
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <div *ngIf="!isUserAdmin" class="col-12 text-menu mt-2">
                                    <div class="row justify-content-center btn-dashboard">


                                        <div class="col-sm-3 col-md-2 col-lg-6 col-xl-4 flex-center">
                                            <a [routerLink]="['/win-history']"
                                                [routerLinkActive]="['active-menu-dashboard']"
                                                class="hover-menu d-flex flex-column justify-content-center align-items-center hoverable text-menu pl-1 pr-1"
                                                mdbWavesEffect>
                                                <div class="p-3">
                                                    <mdb-icon fas icon="hand-holding-usd" size="2x"></mdb-icon>
                                                    <div class="font-weight-bolder text-wrap">
                                                        Historial Ganancias
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 mt-3 mb-3">

                    <router-outlet (activate)="onActivate($event)"></router-outlet>

                </div>

            </div>
        </div>

    </div>

</section>

<div mdbModal #mdlLogout="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content rounded-all text-center">
            <!--Header-->
            <!-- <div class="modal-header green-seven-one white-text">
                <h4 class="title">Cerrar sesión</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mdlLogout.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->


            <!--Body-->
            <div class="modal-body background-card text-center">

                <button type="button" class="close close-seven-one-right red-seven-one white-text hoverable"
                    aria-label="Close" (click)="mdlLogout.hide()">
                    <span aria-hidden="true">×</span>
                </button>

                <img src="assets/images/logo.png" class="w-25 mx-auto d-block mb-2" alt="Logo 7x1">

                <h3 class="my-2 font-weight-bold blue-seven-one-text">
                    ¿Estás seguro de que quieres cerrar sesión ahora?
                </h3>
                <i class="fas fa-times fa-4x animated text-danger rotateIn"></i>

                <hr>
                <div class="justify-content-center">
                    <a (click)="logout()" rounded="true" mdbBtn color="danger" class="waves-effect"
                        mdbWavesEffect>Si</a>
                    <a type="button" rounded="true" mdbBtn class="waves-effect green-seven-one white-text"
                        mdbWavesEffect data-dismiss="modal" (click)="mdlLogout.hide()">No</a>
                </div>
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>

<div mdbModal #mdlAvatar="mdbModal" class="modal fade top" id="mdlAvatar" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">

        <!--Content-->
        <div class="modal-content rounded-all">

            <!--Body-->
            <div class="modal-body background-card mb-0 text-center">

                <button type="button" class="close close-seven-one-right red-seven-one white-text hoverable"
                    aria-label="Close" (click)="mdlAvatar.hide()">
                    <span aria-hidden="true">×</span>
                </button>

                <img src="assets/images/logo.png" class="w-25 mx-auto d-block mb-2" alt="Logo 7x1">

                <h2 class="mt-2 font-weight-bold blue-seven-one-text">
                    Imagen de perfil
                </h2>

                <mdb-file-upload #uploader (fileRemoved)="onFileRemove()" (fileAdded)="onFileAdd($event)">
                </mdb-file-upload>

                <div class="mb-3">
                    <button (click)="uploadImage()" #btnUploadImage mdbBtn rounded="true"
                        class="green-seven-one white-text mt-3"
                        [disabled]="!this.fileToUpload || disableButtonUpload"><span
                            i18n="@@update">Actualizar</span></button>
                </div>
            </div>
        </div>
        <!--/.Content-->

    </div>
</div>

<!-- Back to top button -->
<button id="return-to-top" class="btn btn-floating btn-large blue-seven-one waves-light" mdbPageScroll
    href="#top-section" mdbWavesEffect style="right:35px; bottom:35px;" [pageScrollDuration]="750">
    <i class="fas fa-arrow-up"></i>
</button>

<!-- Modal individual group -->
<div mdbModal #groupsUser="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content rounded-all  background-card">
            <div class="modal-header">
                <button type="button" class="close close-seven-one red-seven-one white-text hoverable"
                    aria-label="Close" (click)="groupsUser.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="mt-2 font-weight-bold green-seven-one-text">Grupos individuales</h2>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12" *ngFor="let currentGroupUser of currentGroupsUser">
                            <div class="blue-seven-one rounded-all">
                                <h4 class='text-uppercase text-center white-text flex-center p-3'>
                                    {{currentGroupUser.timesPlayUser}} X ${{currentGroupUser.initialInvertion}}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <hr>
            <div class="text-center">
                <button type="button" mdbBtn rounded="true" class="waves-light red-seven-one white-text"
                    aria-label="Close" (click)="groupsUser.hide()" mdbWavesEffect>Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal celebration -->
<div mdbModal #modalWin="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true" [config]="{backdrop: false}" id="overlay">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content blue-dark-seven-one rounded-all">
            <button type="button" class="close close-seven-one-winner red-seven-one white-text hoverable"
                aria-label="Close" (click)="modalWin.hide()">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 background-first wow bounceInDown"
                        data-wow-delay="0.3s">
                        <div class="img-responsive img-circle green-seven-one">


                            <img [src]="(user.image | imageUserSrc:'user' | async)"
                                appDefaultImg="assets/images/main-user.png" class="ratio img-responsive img-circle"
                                alt="user image">

                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <h2 class="mb-4 white-text mt-3 wow bounceInDown" data-wow-delay="0.2s">
                            <strong>Felicidades!</strong>
                            <br>
                            {{user.userName}}
                        </h2>
                        <h4 class="white-text mt-3 wow bounceInDown" data-wow-delay="0.1s">
                            {{messageWin}}
                        </h4>
                    </div>
                    <div class="col-12 text-center">
                        <button mdbBtn rounded="true" class="green-seven-one white-text mt-2" (click)="clainEvent()"
                            mdbTooltip="Claim prize">
                            <mdb-icon fas icon="trophy"></mdb-icon> Reclamar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-add-groups></app-add-groups>
<app-add-admin></app-add-admin>