<section>

    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue-seven-one ie-nav" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="navbar-brand">
                <img src="assets/images/logo.svg" height="30" alt="">
            </a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item avatar dropdown btn-group" dropdown>
                    <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                        <img [src]="this.userActual.image ? this.userActual.image : 'assets/images/rick.png'" class="img-fluid rounded-circle z-depth-0">
                    </a>
                    <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                        <a class="dropdown-item" (click)="updateProfile()">Edit Profile</a>
                        <a class="dropdown-item" (click)="mdlLogout.show()">Logout</a>
                    </div>
                </li>
            </ul>
        </links>
    </mdb-navbar>

    <div class="container-fluid mt-5 mb-5">
        <div class="row">

            <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 mb-5">

                <mdb-card>
                    <mdb-card-body class="background-card">
                        <mdb-card-text>

                            <div class="row justify-content-center text-center">

                                <div class="col-7" id="background-circle" style="padding: 8%;">

                                    <div class="view overlay" (click)="mdlAvatar.show()">
                                        <div class="ratio img-responsive img-circle" [ngStyle]="{'background-image': 'url(' + (this.userActual.image ? this.userActual.image : 'assets/images/user.png')  + ')'}"></div>
                                        <div class="mask flex-center waves-effect waves-light rgba-blue-strong" style="border-radius: 50%;">
                                            <p class="white-text">Change Image</p>
                                        </div>
                                    </div>
                                </div>

                                <div class='col-12 mt-3'>
                                    <h2 class='text-uppercase green-seven-one-text'>
                                        {{userActual.userName}}
                                    </h2>
                                </div>

                                <div class='col-12'>
                                    <h5 class='text-uppercase text-muted'>
                                       {{userActual.email}}
                                    </h5>
                                </div>

                                <div class='col-8 col-8 col-md-8 col-lg-8 border-bottom mt-2'>
                                    <h6 class='text-uppercase font-weight-bold blue-seven-one-text'>
                                        Invested
                                    </h6>
                                    <h5 class='text-uppercase green-seven-one-text'>
                                        $100
                                    </h5>
                                </div>

                                <div class='col-8 col-8 col-md-8 col-lg-8 mt-2'>
                                    <h6 class='text-uppercase font-weight-bold blue-seven-one-text'>
                                        Earned
                                    </h6>
                                    <h5 class='text-uppercase green-seven-one-text'>
                                        $200
                                    </h5>
                                </div>

                                <div class="col-8 text-center">
                                    <button mdbBtn rounded="true" block="true" class="green-seven-one white-text mt-2">Home</button>
                                </div>
                                <div class="col-8 mt-2 text-center">
                                    <button mdbBtn rounded="true" block="true" class="green-seven-one white-text mt-2">Game</button>
                                </div>
                            </div>

                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card>

            </div>

            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">

                <router-outlet></router-outlet>

            </div>

        </div>
    </div>

</section>

<div mdbModal #mdlLogout="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header green-seven-one white-text">
                <h4 class="title">Logout</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mdlLogout.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>


            <!--Body-->
            <div class="modal-body">
                <i class="fas fa-times fa-4x animated rotateIn"></i>
                <p>Are you sure that you want to logout now?</p>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a (click)="logout()" mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect>Yes</a>
                <a type="button" mdbBtn class="waves-effect green-seven-one white-text" mdbWavesEffect data-dismiss="modal" (click)="mdlLogout.hide()">No</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<div mdbModal #mdlAvatar="mdbModal" class="modal fade top" id="mdlAvatar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">

        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header green-seven-one white-text">
                <h4 class="title"><i class="fas fa-user"></i> Upload new avatar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mdlAvatar.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>

            <!--Body-->
            <div class="modal-body mb-0 text-center">

                <input type="file" class="dropify" data-height="300" data-allowed-file-extensions="png jpg" />

            </div>

        </div>
        <!--/.Content-->

    </div>
</div>
